body {
    background: #fbdcdc;
    height: 100%;
    margin: 0;
}

.birthday-card {
    position: relative;
    width: 160px;
    height: 250px;
    border: 10px solid #ef5050;
    margin: 60px auto 0 auto;
    box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255),
            rgba(255, 255, 255, 0.5)),

        url(https://www.wikihow.com/images/5/5b/Draw-Anime-or-Manga-Faces-Step-15-Version-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .text {
        width: 70%;
        height: 70%;
        margin: auto;
        font-family: nobil, sans-serif;

        >p {
            font-size: 1em;
            color: #331717;
            list-style: 1;
            font-style: italic;
            text-align: center;
            margin: 10px auto 0 auto;
        }

        .title {
            font-size: 1em;
            margin: 20px auto 30px auto;
        }
    }






    .cover-outer {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: -10px 0 0 -10px;
        border: 10px solid #ef5050;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transform-origin: 0% 50%;
        transform: perspective(800px) rotateY(0deg);
        transition: all 0.8s ease-in-out;

        img {
            box-shadow: 0px 6px 11px 7 px rgba(0, 0, 0, 0.22);
            border-radius: 5px;
        }
    }



    .cover-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 10px solid #ef5050;
        background-color: #ef5050;
        margin: -10px 0px -10px;
        backface-visibility: visible;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
        transform-style: preserve-3d;
        transform-origin: 0% 50%;
        transform: perspective(800px) rotateY(0deg);
        transition: all 0.8s ease-in-out;
        overflow: hidden;

        img {
            transform: rotateY(170deg);
        }
    }
}



.birthday-card:hover {
    .cover-outer {
        transform: perspective(800px) rotateY(-170deg) rotate(5deg);
    }
    .cover-inner {
        transform: perspective(800px) rotateY(-170deg);
        box-shadow: 7px 0 5px 0 rgba(0, 0, 0, 0.3),
            inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
    }
}
